---
import Layout from "../components/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob('../content/*.md')

  return posts.map((post : any) => ({
    params: { 
      slug: post.frontmatter.url
    },
    props: {
      post,
      nombre : post.frontmatter.nombre,
      lider: post.frontmatter.lider,
      titulo: post.frontmatter.titulo
    },
  }))
}

const { Content } = Astro.props.post
const { nombre, lider, titulo } = Astro.props

//posts.filter(post => post.frontmatter.title === Astro.params);
---

<Layout title= {nombre} >
  <section class="">

      <h1 class="">{titulo}</h1>
      <h2 style="margin-top: -10px;font-weight: bold; font-size: medium;">{nombre}</h2>
      <h3 style="text-align: left;">Lider: {lider}</h3>
    <article class="">
      <Content />
    </article>
    
    <a href={'/blog-gpt'} class="">← Volver a la lista</a>
  </section>
  <style>
    h2{
      color: #65bc44;
    }
    
    a{
      text-decoration: none;
    }
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 60%;
      color: #0d0f0d;
    }

  @media (max-width: 480px) {
    section{
      max-width: 90%;
    }
    
  }
  @media (min-width: 481px) and (max-width: 768px){
    section{
      max-width: 80%;
    }
    
  }
  </style>
</Layout> 
