---
import Layout from "../components/Layout.astro";
type semanas= {
nombre: string
lider:string
url: string
orden: number
}

let contenido: semanas[] = [];
const posts = await Astro.glob('../content/*.md');

posts.forEach((post:any) => {
  contenido.push(post.frontmatter)
  }
);

contenido= contenido.sort((a,b)=> a.orden - b.orden)
---
<Layout title="Blog" >
  <section class="content-list">
{ contenido.map((contenido, index) => {
  return (
    <div>
      <a transition:name="name" href={contenido.url}>{contenido.nombre}</a>
    </div>
  )
})}
</section>
</Layout>

<style>
  .content-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
</style>
